{% extends "base.html" %}
{% block content %}
    <h1 data-content="화학 I">
        화학 I
    </h1>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <h3>모든 수행평가가 완료되었습니다!</h3>
    <details>
        <summary>
            완료된 화학 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>산 염기 중화 반응 탐구하기</li>
        <img loading="lazy" src="../../static/img/chem_midreact.webp" alt="중화반응 탐구하기">
        <li>화학 결합 탐구하기</li>
        <img loading="lazy" src="../static/img/chem_bond.webp" alt="화학 결합 탐구하기">
        <li>화학 반응의 양적관계 탐구하기</li>
        <img loading="lazy" src="../static/img/chem_baneung.webp" alt="화학 반응">
        <li>현대의 원자 모형 및 전자 배치의 규칙 탐구하기</li>
        <img loading="lazy" src="../static/img/chem_modernatom.webp" alt="현대의 원자 모형">
    </details>
    <button onclick="location.href='/'">홈으로</button>
{% endblock %}