<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="수학">
    <meta property="og:description" content="2학년 10반 수행평가 안내지 클라우드">
    <meta property="og:image" content="../static/bg.webp">
    <meta property="og:url" content="https://gh210.kro.kr/earth">
    <link rel="stylesheet" href="../static/style.min.css">
    <link rel="icon" href="../static/favicon.png">
    <title>2-10 수행평가 안내지 클라우드</title>
</head>
<body>
    <h1 data-content="지구과학 I">
        지구과학 I
    </h1>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>지구과학 기사 분석</li>
    <img loading="lazy" src="../../static/img/earth_newsanalyze.webp" alt="기사 분석">
    <details>
        <summary>
            완료된 지구과학 I 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>대기와 해양의 상호작용</li>
        <img loading="lazy" src="../../static/img/earth_landnsea.webp" alt="대기와 해양의 상호작용">
        <li>지질 명소 소개하기</li>
        <img loading="lazy" src="../static/img/earth_famousplace.webp" alt="지질 명소">
        <li>고체 지구 탐구하기</li>
        <img loading="lazy" src="../static/img/earth_solidearth.webp" alt="고체 지구">
    </details>
</body>
</html>