{% extends "base.html" %}
{% block content %}
    <h1 data-content="영어">
        영어
    </h1>
    <details>
        <summary>예정된 수능특강 클래스카트 마감일 보기 [ 펼치기 · 접기 ]</summary>
        <img src="../static/img/eng_siuuuteuk.webp" alt="수특 일정">
    </details>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>현재 진행중 · 예정된 수행평가가 없습니다.</li>
    <details>
        <summary>
            완료된 영어 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>인공지능과 함께하는 미래의 일상 소개하기</li>
        <img loading="lazy" src="../../static/img/eng_ai_1.webp" alt="인공지능1">
        <img loading="lazy" src="../../static/img/eng_ai_2.webp" alt="인공지능2">
        <li>버킷리스트에 관한 글쓰기</li>
        <img src="../static/img/eng_bucketlist.webp" alt="버킷리스트 글쓰기">
        <li>창의성이 돋보이는 인물 소개하기</li>
        <img loading="lazy" src="../static/img/eng_write_1.webp" alt="영어 쓰기 1">
        <img loading="lazy" src="../static/img/eng_write_2.webp" alt="영어 쓰기 2">
        <li>리딩노트 작성하기</li>
        <img loading="lazy" src="../static/img/eng_readingnote.webp" alt="영어 리딩노트">
    </details>
    <button onclick="location.href='/'">홈으로</button>
{% endblock %}