{% extends "base.html" %}
{% block content %}
    <h1 data-content="화법과 작문">
        화법과 작문
    </h1>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>현재 진행중 · 예정된 수행평가가 없습니다.</li>
    <details>
        <summary>
            완료된 화법과 작문 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>질문에 답 생성하기 · 면접하기</li>
        <img src="../static/img/essay_interview_1.webp" alt="면접 수행 1">
        <img src="../static/img/essay_interview_2.webp" alt="면접 수행 2">
    </details>
    <button onclick="location.href='/'">홈으로</button>
{% endblock %}