{% extends "base.html" %}
{% block content %}
    <h1 data-content="생명과 윤리">
        생명과 윤리
    </h1>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>실천 윤리 주제 탐구하기</li>
    <img src="../../static/img/ethic_subjectexp.webp" alt="주제탐구">
    <details>
        <summary>
            완료된 생명과 윤리 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>직업 윤리 탐구하기</li>
        <img loading="lazy" src="../../static/img/ethic_job.webp" alt="직업 윤리 탐구하기">
    </details>
    <button onclick="location.href='/'">홈으로</button>
{% endblock %}