<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="영어">
    <meta property="og:description" content="2학년 10반 수행평가 안내지 클라우드">
    <meta property="og:image" content="../static/bg.webp">
    <meta property="og:url" content="https://gh210.kro.kr/jp">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.png">
    <title>2-10 수행평가 안내지 클라우드</title>
</head>
<body>
    <h1 class="fade-up" data-content="일본어">
        일본어
    </h1>
    <h4 class="fade-up" data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li class="fade-up">현재 진행중 · 예정된 수행평가가 없습니다.</li>
    <details>
        <summary class="fade-up">
            완료된 일본어 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li class="fade-up">히라가나 쓰기</li>
        <img class="fade-up" src="../static/img/jp_hiragana.webp" alt="히라가나 쓰기">
        <li class="fade-up">일본어로 소개하기</li>
        <img class="fade-up" src="../static/img/jp_introduce.webp" alt="소개하기">
        <li class="fade-up">한일 번역 및 일한 작문하기</li>
        <img class="fade-up" src="../static/img/jp_tr_write.webp" alt="번역 작문하기">
    </details>
    <script src="../static/script.js"></script>
</body>
</html>