<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="수학">
    <meta property="og:description" content="2학년 10반 수행평가 안내지 클라우드">
    <meta property="og:image" content="../static/bg.webp">
    <meta property="og:url" content="https://gh210.kro.kr/math">
    <link rel="stylesheet" href="../static/style.min.css">
    <link rel="icon" href="../static/favicon.png">
    <title>2-10 수행평가 안내지 클라우드</title>
</head>
<body>
    <h1 data-content="수학">
        수학
    </h1>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>함수의 그래프 분석하기</li>
    <img loading="lazy" src="../../static/img/math_graphanalyze.webp" alt="그래프 분석하기">
    <details>
        <summary>
            완료된 수학 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>수학으로 생각 표현하기</li>
        <img loading="lazy" src="../../static/img/math_thinkexpress_1.webp" alt="수학으로 생각표현하기">
        <img loading="lazy" src="../../static/img/math_thinkexpress_2.webp" alt="수학으로 생각표현하기">
        <li>수리논술형 문제 해결하기</li>
        <img loading="lazy" src="../static/img/math_jisulog.webp" alt="수1 수리논술형">
        <li>수학이 실생활에 적용된 사례 작성하기</li>
        <img loading="lazy" src="../static/img/math_reallife.webp" alt="수1 실생활 사례">
    </details>
    <button onclick="location.href='/'">홈으로</button>
</body>
</html>