{% extends "base.html" %}
{% block content %}
    <h1 data-content="음악">
        음악
    </h1>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <h3>모든 수행평가가 완료되었습니다!</h3>
    <details>
        <summary>
            완료된 음악 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>리듬 악보 연주하기</li>
        <img loading="lazy" src="../static/img/music_rhythm.webp" alt="리듬 악보 연주하기">
        <li>국악 논술하기</li>
        <img loading="lazy" src="../static/img/music_kukac_1.webp" alt="국악1">
        <img loading="lazy" src="../static/img/music_kukac_2.webp" alt="국악2">
        <li>지휘 논술하기</li>
        <img loading="lazy" src="../static/img/music_direct_1.webp" alt="지휘 논술 1"><br>
        <img loading="lazy" src="../static/img/music_direct_2.webp" alt="지휘 논술 2">
        <li>가창하기</li>
        <img loading="lazy" src="../static/img/music_duet.webp" alt="가창">
    </details>
    <button onclick="location.href='/'">홈으로</button>
{% endblock %}