{% extends "base.html" %}
{% block content %}
    <h1 data-content="물리 I">
        물리 I
    </h1>
    <details>
        <summary>예정된 수행평가 계획 보기 [ 펼치기 · 접기 ]</summary>
        <img src="../static/img/phys_2ndsem_plan.webp" alt="물리 계획">
    </details>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>현재 진행중 · 예정된 수행평가가 없습니다.</li>
    <details>
        <summary>
            완료된 물리 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>전자의 전위 과정 분석하기</li>
        <img src="../static/img/phys_electronE.webp" alt="전자 전위">
        <li>자유낙하 실험하기</li>
        <img loading="lazy" src="../static/img/phys_freenakha.webp" alt="자유낙하">
    </details>
    <button onclick="location.href='/'">홈으로</button>
{% endblock %}