<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="영어">
    <meta property="og:description" content="2학년 10반 수행평가 안내지 클라우드">
    <meta property="og:image" content="../static/bg.webp">
    <meta property="og:url" content="https://gh210.kro.kr/stat">
    <link rel="stylesheet" href="../static/style.min.css">
    <link rel="icon" href="../static/favicon.png">
    <title>2-10 수행평가 안내지 클라우드</title>
</head>
<body>
    <h1 class="fade-up" data-content="확률과 통계">
        확률과 통계
    </h1>
    <details>
        <summary class="fade-up">
            예정된 수행평가 계획 보기 [ 펼치기 · 접기 ]
        </summary>
        <img loading="lazy" src="../static/img/stat_2ndsem_plan.webp" alt="2학기 수행평가 일정">
    </details>
    <h4 data-content="현재 진행중 · 예정된 수행평가">
        현재 진행중 · 예정된 수행평가
    </h4>
    <li>현재 진행중 · 예정된 수행평가가 없습니다.</li>
    <details>
        <summary>
            완료된 확률과 통계 수행평가 보기 [ 펼치기 · 접기 ]
        </summary>
        <li>주제 탐구하기</li>
        <img loading="lazy" src="../../static/img/stat_subjectexp.webp" alt="주제탐구">
        <li>기댓값과 분산의 성질 탐구하기</li>
        <img loading="lazy" src="../static/img/stat_gidaeBunsan_1.webp" alt="기댓값분산">
        <img loading="lazy" src="../static/img/stat_gidaeBunsan_2.webp" alt="기댓값분산">
        <li>이항계수의 배열 분석하기</li>
        <img loading="lazy" src="../static/img/stat_2hang.webp" alt="이항계수">
        <li>실생활 문제 만들기</li>
        <img loading="lazy" src="../static/img/stat_createproblem.webp" alt="문제 만들기">
    </details>
</body>
</html>