@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-image: url(bg.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;
    font-family: 'GmarketSansMedium';
    word-break: keep-all;
}

.buttons {
    text-align: center;
}

button {
    font-family: 'GmarketSansMedium';
    width: 200px;
    height: 50px;
    margin: 10px;
    display: inline-block;
    border-radius: 15px;
    border: solid;
    border-width: 2px;
    font-size: 15px;
}

h1, h2, h4 {
    text-align: center;
    z-index: 0;
    color: #fff;
    position: relative;
}

h1::before, h2::before, h4::before {
    z-index: -1;
    content: attr(data-content);
    position: absolute;
    -webkit-text-stroke: 3px #000;
}

@media (max-width: 767px) {
    h2::before {
        left: 0;
    }
}

h4::before {
    -webkit-text-stroke: 2px #000;
}

img {
    padding-top: 10px;
}

@media (max-width: 767px) {
    img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    img {
        width: 70%;
    }
}

li, details {
    margin: 10px;
}