@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    background-image: url(bg.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

body {
    min-height: 100vh;
    font-family: 'GmarketSansMedium';
    word-break: keep-all;
    text-align: center;
}

h1 {
    text-align: center;
    color: #fff;
    position: relative;
    font-size: 2rem;
    line-height: 1.4;
}

h1::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    -webkit-text-stroke: 3px #000;
    white-space: pre-wrap;
    width: 100%;
    text-align: center;
    z-index: -1;
    pointer-events: none;
}

img {
    padding-top: 10px;
}

@media (max-width: 767px) {
    img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    img {
        width: 40%;
    }
}

details {
    margin: 10px;
}