<!DOCTYPE html>
<html lang="ko" data-theme="{{ theme or '' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="2학년 10반 수행평가 안내지 클라우드">
    <meta property="og:image" content="../static/bg.webp">
    <meta property="og:url" content="https://gh210.kro.kr/{{ subject }}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.png" type="image/x-icon">
    <title>2-10 수행평가 안내지 클라우드</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <p>Copyright 2025 &copy; HaeengIn. All rights reserved.</p>
    <script src="../static/scripts.js"></script>
</body>
</html>