{% extends "base.html" %}
{% block content %}
    {% set theme = theme|default('light') %}
    <script>
        document.documentElement.setAttribute('data-theme', '{{ theme }}');
    </script>
    <h1 data-content="2025 교하고등학교 2학년 10반 수행평가 안내지 클라우드">
        2025 교하고등학교 2학년 10반 수행평가 안내지 클라우드
    </h1>
    <div>
        <button id="theme-toggle">테마 변경</button>
    </div>
    <button onclick="location.href='/school'">학교 일정</button>
    <button onclick="location.href='/complain'">민원 창구</button>
    <hr>
    <h4 data-content="이수 중인 과목">
        이수 중인 과목
    </h4>
    <div class="grid">
        <button onclick="location.href='/math'">수학</button>
        <button onclick="location.href='/eng'">영어</button>
        <button onclick="location.href='/gram'">언어와 매체</button>
        <button onclick="location.href='/essay'">화법과 작문</button>
        <button onclick="location.href='/phys'">물리 I</button>
        <button onclick="location.href='/chem'">화학 I</button>
        <button onclick="location.href='/bio'">생명과학 I</button>
        <button onclick="location.href='/earth'">지구과학 I</button>
        <button onclick="location.href='/ethic'">생명과 윤리</button>
        <button onclick="location.href='/stat'">확률과 통계</button>
        <button onclick="location.href='/jp'">일본어</button>
        <button onclick="location.href='/music'">음악</button>
        <button onclick="location.href='/pe'">운동과 건강</button>
    </div>
    <hr>
    <h4 data-content="이수가 종료된 과목">
        이수가 종료된 과목
    </h4>
    <button onclick="location.href='/kor'">문학</button>
{% endblock %}