<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="2학년 10반 수행평가 안내지 클라우드">
    <meta property="og:image" content="/static/bg.webp">
    <meta property="og:url" content="https://gh210.kro.kr/notice">
    <link rel="stylesheet" href="/static/style.min.css">
    <link rel="icon" href="/static/favicon.png">
    <title>2-10 수행평가 안내지 클라우드</title>
</head>
<body>
    <h1 data-content="클라우드 공지사항">
        클라우드 공지사항
    </h1>
    <p>
        <label>2025-09-12</label>
        <li>민원 창구 글 작성 페이지 추가</li>
    </p>
    <p>
        <label>2025-09-11</label>
        <li>오늘의 시간표 추가</li>
        <li>오늘의 학사일정 추가</li>
        <li>민원 창구 페이지 추가</li>
    </p>
    <p>
        <label>2025-09-09</label>
        <li>오늘의 급식 정보 추가</li>
    </p>
    <p>
        <label>2025-09-07</label>
        <li>수행평가 디데이 항목 추가</li>
    </p>
    <p>
        <label>2025-08-27</label>
        <li>웹 페이지 쿠키 관련 설정 추가</li>
    </p>
    <p>
        <label>2025-08-20</label>
        <li>공지사항 페이지 추가</li>
    </p>
    <hr>
    <p>Copyright 2025 &copy; HaeengIn. All rights reserved.</p>
</body>
</html>