{% extends "base_other.html" %}
{% block og %}
    <meta property="og:title" content="민원 창구 글 작성">
    <meta property="og:url" content="https://gh210.kro.kr/write">
{% endblock %}
{% block title %}민원 창구 글 작성{% endblock %}
{% block content %}
    <h1 data-content="글 작성하기">글 작성하기</h1>
    <form action="/write" method="post">
        <label>제목: </label><br>
        <input type="text" name="title" required><br><br>
        <label>내용: </label><br>
        <textarea name="content" required></textarea><br><br>
        <button type="submit">등록</button>
    </form>
    <button onclick="location.href='/complain'">뒤로가기</button>
{% endblock %}